---
layout: default
---

<h1 class="page-heading">blog posts</h1>

<ul class="plain">
{% for post in paginator.posts %}
  <li>
    <span><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
    <h2>{{ post.title }}</h2>
    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
    {% capture content_words %}
      {{ post.content | number_of_words }}
    {% endcapture %}
    {% capture excerpt_words %}
      {{ post.excerpt | number_of_words }}
    {% endcapture %}
    {% if excerpt_words != content_words %}
    <span>&hellip;</span>
    <div><small><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">read more</a></small></div>
    {% endif %}
  </li>
{% endfor %}
</ul>
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">prev</a>
  {% else %}
    <span class="previous">prev</span>
  {% endif %}
  <span class="page_number "> &#8212; page {{ paginator.page }} of {{ paginator.total_pages }} &#8212; </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next</a>
  {% else %}
    <span class="next ">next</span>
  {% endif %}
</div>
