<footer>
  <p><a href="mailto:{{ site.email }}">email</a> | <a href="https://github.com/{{ site.github_username }}">github</a> | <a href="https://twitter.com/{{ site.twitter_username }}">twitter</a></p>
  <p><small>theme adapted from minimal by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
  <p><small><a href="https://github.com/tmehlinger/mehlinger.me">contribute to this site</a> </small></p>
  <p><small><a href="https://pages.github.com/">hosted on Github Pages</a></small></p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a></p>

  <p>subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>
</footer>
